.task-card {
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment */
  border-radius: 6px;
  border: 1px solid #ddd;
  user-select: none;
  padding: 2px;
  margin: 0 0 4px 0;
  min-height: 50px;
  background-color: #fff;
  transition: opacity 7s linear;
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.1);
  color: black;
}

.task-card:hover {
  background-color: #eee;
}

.task-card .task-content {
  display: flex;
  flex-direction: column;
}

.task-card .task-actions {
  display: flex;
  flex-direction: row;
}

.task-card button {
  background-color: transparent;
  color: #aaa;
  border: none;
  margin-left: 8px;
  cursor: pointer;
}

.task-card button:hover {
  background-color: transparent;
}
.task-comments {
  margin-top: 8px;
}

.comment {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 4px;
}

.new-comment {
  display: flex;
  margin-top: 8px;
}

.new-comment input {
  flex: 1;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.new-comment button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}